*
{
	font-family: 'Noto Sans TC', sans-serif;
	border-style: border-box;
}



.footer
{
	width: 100%;
	background: #00121b;
	display: block;
}

.inner-footer
{
	width: 95%;
	margin: auto;
	padding:30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items
{
	width: 25%;
	padding: 5px 5px;
	box-sizing: border-box;
}




h3
{
	margin: 10px 0;
	color: white;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
	padding-left: 15px;
}

.border
{
	height: 2px;
	width:20px ;
	background: #ff9800;
	padding-left: 150px;
}


 dl a
{
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;

}
dl a:hover
{
	color: #ff9800;
}

dl li
{
	margin: 10px 10px;
	height: 25px;
}

 li i
{
	
}

.left h2
{
	text-align: left;
	padding-top: 0px;
	
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}

.social-media
{
	width: 100%;
	color: #fff;
	text-align: white;
	padding-left: 60px;
	
}

.social-media a
{
	text-decoration: none;

}

.social-media i
{
	height: 15px;
	width: 15px;
	margin:20px 5px;
	padding: 10px;
	color:#fff;
	border-radius: 50%;
	border:1px solid grey;
	transition: 0.3s;
 }

.social-media i:hover 
{
	background: grey;
}

footer
{
text-align: center;
background-color: black;
color:white;
padding: 10px;
bottom:10%;
z-index: 1;
padding-left:-10%;
}
